.azeret-mono-azert {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}



/* navigation style start */
.nav-bar{
  max-width: 1440px;
}



.navName{
  font-size: 28px;
  color: #0D1321;
  font-weight: 800;
}
header nav ul {
display: flex;
justify-content: space-between;
list-style-type: none;
align-items: center;
margin-left: 150px;
margin-right: 150px;
margin-top: 50px;

}
.resumebttn{
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  color: #0D1321;
  border-radius:8px;
  padding: 17px 24px;
  border-color: #0D1321;
}





/* banner style starts */
.banner {
  position: relative;
  width: 100%; 
  height: auto; 
  
}

.banner img {
  width: 100%;
  height: auto;

}

.bannerContent {
  position: absolute;
  top: 0; /* Adjust as necessary */
  left: 0; /* Adjust as necessary */
  margin: 26px 221px 45px 221px;
  margin: 157px 221px ;
  text-align: center;
  margin: 26px 221px 45px 221px;

}

.devIcon img {
  width: 240px;
  height: 240px;
  
}



.contactBtn{
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  font-weight: 600;
  background-color: #0D1321;
  color: #fff;
  border-radius:8px;
  padding: 21px 24px;
  border-color: #0D1321;
  text-decoration: none; 

}

.bannerBtn{
  margin: 32px;
}





.bannerTitle{
  font-size:48px;
  font-weight:800;
}
.descText{
  size: 16px;
  color: rgba(13, 19, 33, 0.7) ;
  
}

.sectionTitle{
font-size:32px ;
font-weight:800;
color: #0D1321;
}

.reasonTitle{
font-size:24px ;
font-weight:600;
color:rgba(13, 19, 33, 0.7) ;
}

/* Web dev style start */
.webDevBg{
  height:1393 ;
  width:1140 ;
  background: rgba(13, 19, 33, 0.02);
  margin: 74px 172px 0px 148px ;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;

}
.webdev{
  text-align: center;
}

.devReasoncontainer {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; 
  padding: 20px;
}


.devReasoncontainer2 {
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; 
  padding: 20px;
  text-align: left; 
}



.devReasonText {
 padding: 20px;
 text-align: left; 
}
 
.devReasonPic {
  
 
  padding: 20px;
}

.LearnMorreBtn {
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgba(13, 19, 33, 0.7);
  color: rgba(13, 19, 33, 0.7);
  padding: 12px 20px;
}


/* inspiration style starts */
/* .inspiration{
  margin: 90px 152px 0px 148px ;
  align-items: center;

}
.video{
  align-items: center;  
}
.video iframe {
  

  border: 1px solid rgba(13, 19, 33, 0.2); 
  border-radius: 16px;
  padding: 32px 32px 32px 32px;
  
}
.inspirationTitle{
  text-align: center;
  padding:0px 144px ;
} */

.inspiration-section{
  width: 82%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 160px;
  margin-top: 48px;
  justify-content: center;
}
.inspiration-text{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 10px;
  padding-bottom: 20px;
}
.inspiration-text h2{
  font-size: 32px;
  font-weight: 800;
}
.inspiration-video{
  border: 1px solid #C9CACE;
  border-radius: 10px;
  margin-right: 90px
}
.iframe-video{
  border-radius: 16px;
  padding: 20px;
}

.mainvid{
  border-radius: 16px;
}

/* Current target style starts */

/* .CurrentTarget{
  text-align: center;
  padding:0px 144px ;
  margin: 151px 142px 0px 150px ;
}

.target-containers{
  display: flex;
  gap: 40px;
  align-items: left;
}
.target-container{
  padding:40px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  text-align: left;
}

.target-containerc1{
background-color: #FFF6F4;
}
.target-containerc2{
  background-color: #EBEBEB;
}

.target-containerc3{
  background-color: rgba(255, 223, 0, 0.05);
}



.target-title{
    size: 24px;
    color:#0D1321 ;
    font-weight: bold;
} */


/* Current target style starts */
.CurrentSection{
  width: 82%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 160px;
  margin-top: 48px;
  justify-content: center;
}
.CurrentSectionTitle{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 10px;
  padding-bottom: 20px;
}

.CurrentSectionContainers{
  display: flex;
gap: 20px;
}
.CurrentSectionContainer{
  
  padding: 40px;
  border-radius: 10px;
}

#html{
  background-color:rgb(255, 246, 244);

}
#css{
  background-color: #F2F6FE;
}
#js{
  background-color: #FFFDF2;
}

/* support section style starts */
.supportTitletxt{
    font-size: 32px bold;
    color: #fff;
}
.support{
 
    position: relative;
    height: 313px;
    width: 1140px;

}
.supportContent{
  position: absolute;
  top: 0; 
  left: 0; 
  margin: 26px 221px 45px 221px;
  text-align: center;
  padding: 64px 48px 64px 48px;

}
.background-image{
  height: 313px;
  width: 1140px;
  border-radius:16px;
  margin:49px 150px 0px 150px;
}
.descText2{
  size: 16px;
  color: #FFFFFF ;
  
}
.submit{
  width: 120px;
  height: 57px;
  background-color:#FFFFFF ;
  border-radius: 8px;
  border-style: none;
}
.footermain{
margin: 80px;
height:100px;
width:1140px;
background-color:rgba(13, 19, 33, 0.03);
}

.footermain{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



